.add-cell {
    position: relative;
    opacity: 0;
    transition: opacity 0.2s ease-in 0.1s, padding 0.2s ease-in 0.15s;
}

.add-cell:hover {
    opacity: 1;
    padding: 15px 0;
}

.add-cell .divider {
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid gray;
    width: 60%;
    right: 20%;
    left: 20%;
    z-index: -1;
    transition: width 0.4s ease-in 0.15s, right 0.4s ease-in 0.15s, left 0.4s ease-in 0.15s;
}

.add-cell:hover .divider {
    width: 95%;
    right: 2.5%;
    left: 2.5%;
}

.add-cell .add-buttons {
    display: flex;
    justify-content: center;
}

.add-cell .add-buttons button {
    margin: 0 20px;
}

.add-cell.always-visible {
    opacity: 1;
}
